<body>
<div id="cabecera">

    <div id="cabsup">
        <div id="logo">
            <br>
        <IMG SRC="logo.png" ALT="La primera biblioteca física p2p" WIDTH=300 HEIGHT=100% >

        </div>

        <div id="login">
        <br>
        <%= link_to 'Accede a tu cuenta', login_path %>
        <%= link_to 'Regístrate', new_libr_usuario_path %>
        </div>
    </div>


    <div id="menu">

     <ul>
        <li><%= link_to 'Inicio', root_path %></li>
        <li><%= link_to '¿Cómo funciona?', funcionamiento_path %></li>
        <li><%= link_to 'Preguntas Frecuentes', preguntas_path %></li>
        <li><%= link_to 'Nuestros principios', principios_path %></li>
        <li><%= link_to 'Contacto', contacto_path %></li>
     </ul>

    </div>

</div>
<br>
<br>
<br>
<div id="principal">

	<div id="princip_izda">
	<center>
    <IMG SRC="owl-158417.png" ALT="La primera biblioteca física p2p"
     WIDTH=278 HEIGHT=100% ALIGN=middl>
     </center>
	</div>




	<div id="princip_dcha">

<h1>Estos son nuestros principios... </h1> 
<br>



Este proyecto nace desde de la corriente del software libre, y está enfocado para aplicar esa filosofía a la vida real. Para compartir trabajo y conocimiento al nivel de ciudades, pueblos, barrios o familias. Y así compartir un libro o un disco de música, pero también una opinión o una recomendación entre las personas que intercambian, que obviamente se tendrán que ver AFK (siglas en inglés de 'más allá del teclado').

<br><br>

Este proyecto nace desde la crítica al consumo infinito, y se materializa como herramienta para acabar con tantos gastos, que no son solo gastos para el bolsillo si no para el planeta.

<br><br>


Este proyecto nace desde la crítica a un modelo de comercio del arte y conocimiento, donde editoriales, discográficas y productaras ejercen de lobbie ante gobiernos obedientes, e intentan hacer del intercambio y difusión un problema o incluso un delito. 

<br><br>


Este proyecto nace desde la crítica a aquellos que visibilizan el ahorro de recursos como un perjucio económico y quiere hacer incapié en que el problema no es del intercambio sino del modelo.

<br><br>


Este proyecto nace desde la crítica a las redes sociales que venden vidas felices, cuerpos sexys, fotos de viajes vacías, o discursos políticos caducos y se materializa en nuevas redes de intercambio al nivel terrenal. Donde tengan cabida las necesidades de la gente o el intercambio intelectual.

<br><br>


Este proyecto nace desde la necesidad de organizar internet.

<br><br>


Este proyecto no otro más del estilo startup, de algún típico informático que sueña con forrarse. Obedece más bien a la necesidad innata del ser humano de hacer algo por los demás. 

<br><br>

Este proyecto se financiará por donaciones y las únicas personas que reciban dinero del proyecto serán las encargadas del mantenimiento (en caso de haberlas).

 <h1> ...si no te gustan tenemos otros.</h1>

El proyecto es libre, y cualquier persona es libre de utilizarlo de modo que se le ocurra. El propósito es avanzar hacia una mayor libertad de gestión del usuario para que de verdad sea libre y cada uno pueda adaptarlo a sus necesidades u ocurrencias.

<br><br>
Lo expuesto anteriormente son solo los principios por los que nace, pero la razón de ser se la aportará el usuario.


	</div>





</div>

</body>