<%= form_for(@libr_usuario) do |f| %>
  <% if @libr_usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@libr_usuario.errors.count, "error") %> prohibited this libr_usuario from being saved:</h2>

      <ul>
      <% @libr_usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre %><br>
    <%= f.text_field :Nombre %>
  </div>
  <div class="field">
    <%= f.label :Apellido1 %><br>
    <%= f.text_field :Apellido1 %>
  </div>
  <div class="field">
    <%= f.label :Apellido2 %><br>
    <%= f.text_field :Apellido2 %>
  </div>
  <div class="field">
    <%= f.label :poblacion %><br>
    <%= f.text_field :poblacion %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>


  <% if false %><%-#Inicio del comentario.-%>
  Comentario. Este código se insertaba para que al crear una tabla de usuario se crease también
  un registro en la tabla de amigos para el usuario recién creado. Se ha optado por ahora por 
  controlar el error para que no pete al mostrar las amistades de un usuario que aún no tiene creada la tabla de libr_rel_amigos.

   <%= f.fields_for :libr_rel_amigo do | libr_rel_amigo_fields | %>
      <div class="fields">
        <%= libr_rel_amigo_fields.label :amigo_integer, "¿Tienes amigos?" %><br>
        <%= libr_rel_amigo_fields.text_field :amigo_integer %>
      </div>
    <% end %>
   <% end  %><%-#fin comentario.-%>




  <div class="actions">
      <%= f.submit "Registrarme" %>
  </div>
<% end %>
