<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @libr_usuario.Nombre %>
</p>

<p>
  <strong>Apellido1:</strong>
  <%= @libr_usuario.Apellido1 %>
</p>

<p>
  <strong>Apellido2:</strong>
  <%= @libr_usuario.Apellido2 %>
</p>

<p>
  <strong>Poblacion:</strong>
  <%= @libr_usuario.poblacion %>
</p>

<p>
  <strong>Email:</strong>
  <%= @libr_usuario.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @libr_usuario.password %>
</p>

<%= link_to 'Edit', edit_libr_usuario_path(@libr_usuario) %> |
<%= link_to 'Back', libr_usuarios_path %>
