<table>
	<thead>
		<tr>
		<th>Nombre</th>
		<th>Apellido1</th>
		<th>Apellido2</th>
		<th>Población</th>
		<th>email</th>
		<th colspan="3"></th>
		</tr>
	<hr>
	</thead>

	<tbody>
		<% @amigos.each do |amigo| %>
		<tr>
		<td><%= amigo.Nombre %></td>
		<td><%= amigo.Apellido1 %></td>
		<td><%= amigo.Apellido2 %></td>
		<td><%= amigo.poblacion %></td>
		<td><%= amigo.email %></td>

		</tr>

		<% end %>
	</tbody>
</table>

<hr>
Falta un botón para añadir nuevos libros.
<hr>