<body>
	<div id="barraconfig">
		
		<div id="confizda">
			<IMG SRC="/logo_inv.png" ALT="LibreTeca_Logo" WIDTH=200 HEIGHT=100% >
		</div>

		<div id="confdcha">
			 <ul id="lin_confdcha">	
			<%= link_to image_tag("/IcoUserSett.png", size: "35x35"), log_out_path %>
			<%= link_to image_tag("/IcoBooksSett.png", size: "35x35"), log_out_path %>
	        <%= link_to image_tag("/log_out2.png", size: "40x35"), log_out_path %>

			 </ul>
		</div>
	</div>






	<div id="pagprincipal">

		<h2>Bienvenido <%= current_user.Nombre %>.</h2>
		<p id="notice"><%= notice %></p>







		<div class="tabs">
		    <!--pestaña 1 activa por defecto-->
		    <div class="tab">
		    	<!--input determina la pestaña activa.-->
		        <input type="radio" id="tab-1" name="tab-group-1" checked>
		        <label for="tab-1">Mis libros</label>
		        <!--contenido de la pestaña 1-->
		        <div class="content">


		        <%= link_to 'Añadir libro nuevo',  libronuevo_path  %></td>

		            <%if @libr_libros == "sinlibros"%>
		            	 Aún no has añadido ningún item. Comparte, no seas rata.
		            <%else%>
		            	
		            <%=	render "mislibros" %>
		         	<%end %>




		        </div>
		    </div>








		    <!-- pestaña 2-->
		    <div class="tab">
		        <input type="radio" id="tab-2" name="tab-group-1">
		        <label for="tab-2"> Mis contactos</label>
		        <div class="content">
		            <!--contenido de la pestaña 2-->


		            <%if @amigos == "Sin amigos"%>
		            	 Aún no has añadido ningún amigo. Supongo que cuando cree la opción podrás hacerlo.
		            <%else%>
		            	
		            <%=	render "amistades" %>
		         	<%end %>



			            






		 
		        </div>
		    </div>










		    <!-- pestaña 3-->
		    <div class="tab">
		        <input type="radio" id="tab-3" name="tab-group-1">
		        <label for="tab-3">Mis búsquedas</label>
		        <!--contenido de la pestaña 3-->
		        <div class="content">
		            Aquí va un formulario con las opciones de búsquedas y una tabla con los resultados a continuación.



		        </div>
		    </div>

		</div>


	</div>



		<table>
		  <thead>
		    <tr>
		      <th>Nombre</th>
		      <th>Apellido1</th>
		      <th>Apellido2</th>
		      <th>Poblacion</th>
		      <th>Email</th>
		      <th>Password</th>
		      <th colspan="3"></th>
		    </tr>
		  </thead>

		  <tbody>
		      <tr>
		        <td><%= current_user.Nombre %></td>
		        <td><%= current_user.Apellido1 %></td>
		        <td><%= current_user.Apellido2 %></td>
		        <td><%= current_user.poblacion %></td>
		        <td><%= current_user.email %></td>
		        <td><%= current_user.password %></td>

		      </tr>
		  </tbody>
		</table>

		<br>